<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            background-color: #1a202c;
            font-family: 'Lato', sans-serif;
            justify-content: center;
            /* align-items: center; */
        }
        .ahead{
            height: 100%;
            width: 100%;
            margin: auto 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        h1{
            text-align: center;
            color: #ccc;
            background-color: #2d3748;
            width: auto;
            font-size: medium;
            padding: 2em;
            border-radius: 5px;
            box-shadow: black;
            margin: 15% 0 0 0;
        }
        ul {
            color: #ccc;
            text-align: center;
        }
        a{
            color: #ccc;
            font-size: smaller;
        }
        .link{
            text-align: center;
            /* margin-top: 2em; */
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #ccc;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<link>
    <div class="ahead">
        <h1>
            Sessions
        </h1>

    </div>
    <% sessions.map((session, index) => {%>
    <div class="link">
        <div><%=session.title%>: </div>
        <a href='/sessions/<%=index%>'><%=session.description%></a>
    </div>
    <% }) %>

</body>
</html>